*{
  margin: 0;
  font-family: 'Quicksand', 'Fira Sans', sans-serif;
}

/* XPath  */
label, input[type=radio]{
  cursor: pointer;
}

.centralizado{
  width: 0;
  margin: 0 auto;
}

footer{
  width: 100%;
  position: fixed;
  bottom: 0%;
  background-color: #3A3B44;
  padding: 0.7em;
}

footer > span{
  text-align: center;
  color: #F4FFF8;
  font-size: 1em;
}
