body{
  background-image: url("https://s3.amazonaws.com/wp_media-prod/app/uploads/2015/10/21135602/star-wars-space.jpg");
  width: 100%;
  height: 100%;
}

h1{
  background-color: aliceblue;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 0.5em;
  text-align: center;
}

@keyframes square {
  0%   { left:0%; top:0%; }
  25%  { left:80%; top:0%; }
  50%  { left:80%x; top:70%; }
  75%  { left:0%; top:70%; }
  100% { left:0%; top:0%; }
}

div#yoda-square{
  width: 200px;
  position: relative;
  animation-name: square;
  animation-duration: 5s;
  animation-iteration-count: infinite;
} 

img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


